@import "tailwindcss";

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  line-height: 1.6;
  background-color: #d5f4ff;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #da9628;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  text-decoration: none;
  text-align: left;
}

.navbar a:hover {
  background-color: #c76727;
}

header {
  background-color: #00e3ff;
  color: white;
  text-align: center;
}

.nav-header-plus-menu-wrapper {
  display: flex;
  justify-content: flex-end;
}

.nav-header-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-header-menu-list li {
  margin-left: 20px;
}